In [2]:
import pandas as pd

In [3]:
data = {
    "calories": [420, 450, 380],
    "duration": [50, 40, 45]    
}

In [4]:
df = pd.DataFrame(data)

In [5]:
print(df)

   calories  duration
0       420        50
1       450        40
2       380        45

In [6]:
print(df.loc[0])

calories    420
duration     50
Name: 0, dtype: int64

In [7]:
print(df.loc[1])

calories    450
duration     40
Name: 1, dtype: int64

In [8]:
print(df.loc[2])

calories    380
duration     45
Name: 2, dtype: int64

#LETS BEGIN

In [9]:
import pandas as pd

In [10]:
sample_data = {
    "Weekdays": ["Monday", "Tuesday", "Wednesday"],
    "test_score": [10, 20, 30]
}

In [11]:
df = pd.DataFrame(sample_data)

In [12]:
df

    Weekdays  test_score
0     Monday          10
1    Tuesday          20
2  Wednesday          30

In [14]:
df.loc[0]

Weekdays      Monday
test_score        10
Name: 0, dtype: object

In [15]:
df.loc[1]

Weekdays      Tuesday
test_score         20
Name: 1, dtype: object

In [16]:
df.loc[2]

Weekdays      Wednesday
test_score           30
Name: 2, dtype: object

#Import CSV Data

In [17]:
import pandas as pd

In [32]:
pip install --upgrade pandas

Requirement already satisfied: pandas in c:\users\seno d\anaconda3\lib\site-packages (1.5.3)
Collecting pandas
  Downloading pandas-2.0.2-cp310-cp310-win_amd64.whl (10.7 MB)
     ---------------------------------------- 10.7/10.7 MB 2.0 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\seno d\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in c:\users\seno d\anaconda3\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\seno d\anaconda3\lib\site-packages (from pandas) (2022.7)
Collecting tzdata>=2022.1
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     -------------------------------------- 341.8/341.8 kB 1.8 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in c:\users\seno d\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: tzdata, pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 1.5.3
    Uninstalling pandas-1.5.3:
      Successfully uninstalled pandas-1.5.3
Successfully installed pandas-2.0.2 tzdata-2023.3
Note: you may need to restart the kernel to use updated packages.

In [33]:
import pandas as pd

In [34]:
print(pd.__version__)

1.5.3

In [36]:
df = pd.read_csv('5.1 airport.csv', encoding='utf-8')

In [37]:
df

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,year_built,year_tier,Closed,home_link,wikipedia_link,keywords,score
0,26555,VIDP,large_airport,Indira Gandhi International Airport,28.566500,77.103104,777.0,IN-DL,New Delhi,1,VIDP,DEL,NaN,1930.0,1950.0,n,http://www.newdelhiairport.in/,http://en.wikipedia.org/wiki/Indira_Gandhi_Int...,Palam Air Force Station,51475
1,26434,VABB,large_airport,Chhatrapati Shivaji International Airport,19.088699,72.867897,39.0,IN-MM,Mumbai,1,VABB,BOM,NaN,1942.0,1950.0,n,http://www.csia.in/,http://en.wikipedia.org/wiki/Chhatrapati_Shiva...,"Bombay, Sahar International Airport",1014475
2,26618,VOMM,large_airport,Chennai International Airport,12.990005,80.169296,52.0,IN-TN,Chennai,1,VOMM,MAA,NaN,1910.0,1950.0,n,NaN,http://en.wikipedia.org/wiki/Chennai_Internati...,NaN,51150
3,35145,VOBL,large_airport,Kempegowda International Airport,13.197900,77.706299,3000.0,IN-KA,Bangalore,1,VOBL,BLR,NaN,2008.0,2010.0,n,http://www.bengaluruairport.com/home/home.jspx,https://en.wikipedia.org/wiki/Kempegowda_Inter...,NaN,51200
4,26444,VAGO,large_airport,Goa International Airport,15.380800,73.831398,150.0,IN-GA,Vasco da Gama,1,VOGO,GOI,NaN,1955.0,1955.0,n,NaN,http://en.wikipedia.org/wiki/Dabolim_Airport,"Goa Airport, Dabolim Navy Airbase, ________隷怄_...",875
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
332,46625,IN-0062,small_airport,Shirpur Airport,21.323999,74.956734,NaN,IN-MM,Shirpur,0,NaN,NaN,NaN,NaN,NaN,n,NaN,NaN,"Shirpur, Dhule",0
333,46640,IN-0064,small_airport,Umaria Air Field,23.532514,80.808220,1510.0,IN-MP,Umaria,0,NaN,NaN,NaN,NaN,NaN,n,NaN,NaN,NaN,0
334,46561,IN-0038,heliport,Upper Tadong Indian Army Helipad,27.306717,88.599650,NaN,IN-SK,Upper Tadong,0,NaN,NaN,NaN,NaN,NaN,n,NaN,NaN,NaN,0
335,319166,IN-0101,small_airport,Vanasthali Airport,26.407627,75.870128,NaN,IN-RJ,Vanasthali,0,NaN,NaN,NaN,NaN,NaN,n,NaN,NaN,NaN,0
336,46557,IN-0034,small_airport,Vijay Nagar Airport,19.884100,73.840567,NaN,IN-MM,Vijay Nagar,0,NaN,NaN,NaN,NaN,NaN,n,NaN,NaN,NaN,0